:root {
  --color-background: #253334;
  --color-background-card: #f7f3f0;
  --color-default-text: #ffffff;
  --color-text: #000000;
  --default-font-family: 'Alegreya Sans', sans-serif;
  --default-font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: var(--default-font-family);
  color: var(--color-default-text);
  background: var(--color-background);
  font-size: var(--default-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
